<div class="div-comment">
  <% if @comments.any? %>
    <div id="load-more-comments">
      <%= render "comments/paginate_comment" %>
    </div>
    <div id="list-comments">
      <%= render @comments %>
    </div>
    <%= render "comments/form_comment" %>
  <% end %>
</div>
