<% @list_friends.each do |member |%>
  <div class="col-md-6">
    <div class="col-md-5">
      <div class="well">
        <%= image_tag member.friend.avatar.url, class: "img-responsive"%>
      </div>
    </div>
    <div class="col-md-7">
      <%= render "shared/check_friend", member: determine_friend_user(member) %>
    </div>
  </div>
<% end %>
