<%= render "users/header" %>
<div class="container-stories">
  <div class="container">
    <%= render "users/left_bar" %>
    <div class="col-md-9" id="div-show-user">
      <%= render "friend", object: @list_friends %>
     </div>
  </div>
</div>
