<div id="theme-carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "carousel1.jpg", style: "width: 100%"%>
    </div>
  </div>
</div>
<div class="row">
  <%= image_tag @user.avatar.url, class: "img-avatar" if @user.avatar?%>
  <h3 class="name-user"><%= @user.name %></h3>
</div>
