<%= render "users/header" %>
<div class="container-stories">
  <div class="container">
    <%= render "users/left_bar" %>
    <div class="col-md-9" id="div-show-user">
      <% if !@payments.empty? %>
        <%= render "payment" %>
      <% else %>
        <%= render "shared/empty" %>
      <% end %>
    </div>
  </div>
</div>
