/* mixins, variables, etc. */
  $gray-linght: #d8d8d8;
  $litte-gray: #ccc;
  $less-gray: #777;
  $small-gray: #e5e5e5;

.img-avatar {
  width: 10em;
  height: 10em;
  -moz-border-radius: 5em;
  -webkit-border-radius: 5em;
  position: absolute;
  bottom: 15%;
  z-index: 1;
  left: 10%;
}

.infor-user li{
  list-style: none;
}

.name-user {
  position: absolute;
  bottom: 22%;
  left: 20%;
  color: white;
}

body,html{
  height: 100%;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
  padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {

  .main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }

  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a{
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px $small-gray solid;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 1px $small-gray solid;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: $less-gray;
  }

  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  nav.sidebar:hover{
    margin-left: 0px;
  }

  .forAnimate{
    opacity: 0;
  }
}

@media (min-width: 1330px) {

  .main{
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  nav.sidebar{
    margin-left: 0px;
    float: left;
  }

  nav.sidebar .forAnimate{
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: $litte-gray;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}

.clear {
  clear: both;
}

#firends_request {
  border: 1px dotted $gray-linght;
  border-radius: 7px;
  margin-left: 1%;
  box-shadow: 1px 1px 1px 1px $litte-gray;
  margin-bottom: 2%;
}

.title-name {
  font-weight: bold;
}

.email-user {
  color: gray;
  margin-top: -10px;
}

.logo-web {
  margin-top: 21px;
}

#list-documents {
  border: 1px dotted $gray-linght;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-left: 1%;
  box-shadow: 1px 1px 1px 1px $litte-gray;
}

.title-header {
  border: 1px solid $gray-linght;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px $litte-gray;
  padding-top: 1%;
  h4 {
    font-weight: bold;
  }
}

.destacados{
  padding: 70px 0;
  text-align: center;

}

.box1 {
  position: relative;
  z-index: 1;
  width: 81%;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
  border: 1px solid #c8c8c8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: #E4C054;
  border-radius: 4px;
}

.box1 h3 {
  position:relative;
  padding:10px 30px;
  margin:0 -30px 20px;
  font-size:28px;
  line-height:32px;
  font-weight:bold;
  text-align:center;
  color:#fff;
  background:#cc0000;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box1 h3:before,
.box1 h3:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent maroon;
}

.box1 h3:after {
  left:auto;
  right:0;
  border-width:0 0 10px 10px;
}

.box1 h4 {
  position: relative;
  padding: 5px 30px;
  margin: 0 -30px 20px;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #87A800;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box1 h4:before,
.box1 h4:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent #647D01;
}

.box1 h4:after {
  left:auto;
  right:0;
  border-width:0 0 10px 10px;
}

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width:768px)
{
  .fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .fb-image-profile
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

.style-document {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d8d8d8;
  height: 300px;
  width: 45% !important;
  margin-right: 2%;
  padding: 1%;
}

.text-document {
  overflow: hidden;
  height: 57px;
}

.document-index {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  padding: 1%;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #d8d8d8;
}
