/* mixins, variables, etc. */
  $gray-linght: #d8d8d8;
  $litte-gray: #ccc;
  $less-gray: #777;
  $small-gray: #e5e5e5;

.img-avatar {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-top: -8px;
  margin-right: -36px;
}

.infor-user li{
  list-style: none;
}

.name-user {
  position: absolute;
  bottom: 22%;
  left: 20%;
  color: white;
}

section{
  padding-left: 15px;
}

.clear {
  clear: both;
}

#firends_request {
  border: 1px dotted $gray-linght;
  border-radius: 7px;
  margin-left: 1%;
  box-shadow: 1px 1px 1px 1px $litte-gray;
  margin-bottom: 2%;
}

.title-name {
  font-weight: bold;
}

.email-user {
  color: gray;
  margin-top: -10px;
}

.logo-web {
  margin-top: 21px;
}

#list-documents {
  border: 1px dotted $gray-linght;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-left: 1%;
  box-shadow: 1px 1px 1px 1px $litte-gray;
}

.title-header {
  border: 1px solid $gray-linght;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px $litte-gray;
  padding-top: 1%;
  h4 {
    font-weight: bold;
  }
}

.destacados{
  padding: 70px 0;
  text-align: center;

}

.box1 {
  position: relative;
  z-index: 1;
  width: 81%;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
  border: 1px solid #c8c8c8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: #E4C054;
  border-radius: 4px;
}

.box1 h3 {
  position:relative;
  padding:10px 30px;
  margin:0 -30px 20px;
  font-size:28px;
  line-height:32px;
  font-weight:bold;
  text-align:center;
  color:#fff;
  background:#cc0000;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box1 h3:before,
.box1 h3:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent maroon;
}

.box1 h3:after {
  left:auto;
  right:0;
  border-width:0 0 10px 10px;
}

.box1 h4 {
  position: relative;
  padding: 5px 30px;
  margin: 0 -30px 20px;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #87A800;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box1 h4:before,
.box1 h4:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent #647D01;
}

.box1 h4:after {
  left:auto;
  right:0;
  border-width:0 0 10px 10px;
}

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width:768px)
{
  .fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .fb-image-profile
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

.style-document {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d8d8d8;
  height: 300px;
  width: 45% !important;
  margin-right: 2%;
  padding: 1%;
}

.text-document {
  overflow: hidden;
  height: 57px;
}

.document-index {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  padding: 1%;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #d8d8d8;
}

ul > li {
  margin-right: 25px;
  font-weight: lighter;
  cursor: pointer;
}

li.active {
  border-bottom:3px solid silver;
}

.item-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f6f6f6;
}

.menu-items {
  list-style-type: none;
  font-size: 11px;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 20px
}

.btn-success {
  width: 100%;
  border-radius: 0;
}

.section {
  width: 100%;
  margin-left: -15px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f8f9f9
}

.title-price {
  margin-top: 30px;
  margin-bottom: 0;
  color: black
}

.title-attr {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.btn-minus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  border-right: 0;
}

.btn-plus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  border-left: 0;
}

div.section > div {
  width: 100%;
  display: inline-flex;
}

div.section > div > input {
  margin: 0;
  padding-left: 5px;
  font-size: 10px;
  padding-right: 5px;
  max-width: 18%;
  text-align: center;
}

.attr,.attr2 {
  cursor: pointer;
  margin-right: 5px;
  height: 20px;
  font-size: 10px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 2px;
}

.attr.active,.attr2.active {
  border: 1px solid orange;
}

@media (max-width: 426px) {
    .container {
      margin-top: 0px !important;
    }

    .container > .row {
      padding: 0 !important;
    }

    .container > .row > .col-xs-12.col-sm-5 {
        padding-right: 0;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul {
        padding-left: 10px !important;

    }

    .section {
      width: 104%;
    }

    .menu-items {
      padding-left: 0;
    }
}

.div-description {
  border: 1px solid #f8f8f8;
  box-shadow: 1px 1px 1px 1px #d8d8d8;
  min-height: 300px;
  width: 100%;
  border-top: 1px solid silver;
  display: inline;
  p {
    padding: 15px;
  }
}

.show-detail-document {
  border: 0px solid gray;
  h5 {
    color: #337ab7;
  }
  h3 {
    margin-top: 0px;
  }
  .section {
    h6 {
      margin-top: 15px;
    }
  }
  .section-download {
    padding-bottom: 20px;
    button {
      i {
        margin-right: 20px;
      }
    }
  }
}

.div-show-document {
  margin-top: 10px;
}

.img-document {
  width: 100%;
  height: 224px;
}

div#div-show-user {
  background: #fff;
  padding: 1%;
  width: 100%;
  padding-top: 2%;
  margin-top: -16px;
}

.img-list-document {
  width: 100%;
  height: 100%;
}

.session {
  form {
    .like-document {
      border: 0px;
      background: #fff;
      width: 4%;
      margin-right: 3%;
    }
  }
}


.active i {
  color: red;
}

span {
  form {
    float: right;
    .like-document {
      border: 0px;
      background: #16A085;
      width: 4%;
      padding-right: 36%;
    }
  }
}

.destacados{
  padding: 70px 0;
  text-align: center;

}

.box1 {
  position: relative;
  z-index: 1;
  width: 81%;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
  border: 1px solid #c8c8c8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
  background: #E4C054;
  border-radius: 4px;
}

.box1 h3 {
  position:relative;
  padding:10px 30px;
  margin:0 -30px 20px;
  font-size:28px;
  line-height:32px;
  font-weight:bold;
  text-align:center;
  color:#fff;
  background:#cc0000;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box1 h3:before,
.box1 h3:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent maroon;
}

.box1 h3:after {
  left:auto;
  right:0;
  border-width:0 0 10px 10px;
}

.box1 h4 {
  position: relative;
  padding: 5px 30px;
  margin: 0 -30px 20px;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #87A800;
  /* css3 extras */
  text-shadow:0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
     -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
          box-shadow:0 1px 1px rgba(0,0,0,0.2);
  /* See "NOTE 1" */
  zoom:1;
}

.box1 h4:before,
.box1 h4:after {
  content:"";
  position:absolute;
  /* See "NOTE 2" */
  z-index:-1;
  top:100%;
  left:0;
  border-width:0 10px 10px 0;
  border-style:solid;
  border-color:transparent #647D01;
}

.box1 h4:after {
  left:auto;
  right:0;
  border-width:0 0 10px 10px;
}

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width:768px)
{
  .fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .fb-image-profile
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

.style-document {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #d8d8d8;
  height: 300px;
  width: 45% !important;
  margin-right: 2%;
  padding: 1%;
}

.text-document {
  overflow: hidden;
  height: 57px;
}

.document-index {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  padding: 1%;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #d8d8d8;
}

img.img-reposive-document {
  width: 25%;
  height: 30%;
}

.empty {
  height: 100px;
  box-shadow: 1px 1px 1px 1px #ccc;
  padding-top: 3%;
  padding-left: 2%;
  p {
    font-size: 18px;
  }
}

td.image-history {
  width: 20%;
}

/* CSS Test begin */
.comment-box {
  margin-top: 30px !important;
  .media-left {
    padding-left: 10px;
    width: 15% !important;
    height: 93px;
  }
}

/* CSS Test end */

.comment-box img {
  width: 100%;
  height: 60%;
}

.comment-box .media-left {
  padding-right: 10px;
  width: 65px;
}

.comment-box .media-body p {
  border: 1px solid #ddd;
  padding: 10px;
}

.comment-box .media-body .media p {
  margin-bottom: 0;
}

.comment-box .media-heading {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 7px 10px;
  position: relative;
  margin-bottom: -1px;
}

.comment-box .media-heading:before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -6px;
}

.div-comment {
  width: 90%;
}

body{ 
  background: #fafafa;
}

.widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

body .no-padding {
  padding: 0;
}

.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
}

.status-upload {
  background: none repeat scroll 0 0 #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
}

.status-upload form {
  float: left;
  width: 100%;
}

.status-upload form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 73px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #ddd;
}

.status-upload ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}

.status-upload ul > li {
  float: left;
}

.status-upload ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}

.status-upload ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}

.status-upload form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 9px;
  margin-top: 9px;
  padding: 6px 15px;
}

.dropdown > a > span.green:before {
  border-left-color: #2dcb73;
}

.status-upload form button > i {
  margin-right: 7px;
}

div#div-like-user .list-like-user li {
  list-style: none;
  padding-bottom: 16px;
}
