<%= form_tag home_pages_search_path, class: "navbar-form navbar-left", method: :get do %>
  <div class="input-group">
  	<%= text_field_tag :search, "", class: "form-control", placeholder: "#{t('home.placeholder_search')}" %>
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
<% end %>