<!-- Carousel -->
<div id="theme-carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "carousel1.jpg", style: "width: 100%"%>
    </div>
    <div class="item">
      <%= image_tag "carousel2.jpg", style: "width: 100%"%>
    </div>
    <div class="item">
      <%= image_tag "carousel3.jpg", style: "width: 100%"%>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#theme-carousel" role="button" data-slide="prev">
    <div class="carousel-control-arrow">&#8249;</div>
  </a>
  <a class="right carousel-control" href="#theme-carousel" role="button" data-slide="next">
    <div class="carousel-control-arrow">&#8250;</div>
  </a>
</div>
