<div class="header">
  <div class="wrap">
    <div class="logo">
      <%= link_to image_tag("logo.png"), "#" %>
    </div>
    <div class="top-nav">
      <ul class="flexy-menu thick orange">
        <li class="active"><%= link_to t("home.title") %></li>
      </ul>
      <div class="search-box">
        <div id="sb-search" class="sb-search">
          <form>
            <input class="sb-search-input" placeholder="<%= t 'home.placeholder_search' %>" type="search" name="search" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search"></span>
          </form>
        </div>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>
